<!-- start custom head snippets -->
<style type="text/css">
.slider-box {margin:0 auto; overflow:hidden; width:800px; height:470px;}
.slider {padding:0; margin:0; list-style-type:none; position:relative;}
.slider li {position: absolute;}
.slider li .slide-name{margin:5px 0;}
.slider li img {width:100%;}

.slide-page {text-align:center;}
.slide-page .slide-page-btn {border:1px solid #ccc; width:20px; height:5px; margin:0 3px; background:#ccc;}
.slide-page .slide-page-btn:hover {background:none;}
.slide-page .slide-page-btn:focus {outline:none;}
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#btn-first").css('background', 'none')

    var slider_list = $(".slider li")
    slider_list.css('left', $(".slider-box").css('width'))
    slider_list.eq(0).css('left', 0)

    $(".slide-more-content").hide()

    $(".slide-more-btn").click(function() {
      $(".slide-more-content").toggle()
    })
    /*
    var curSlide = 0
    $(".slider-box").click(function() {
      var nextSlide = curSlide + 1
      nextSlide %= slider_list.length

      slider_list.eq(curSlide).animate({'left': '-=' + $('.slider-box').css('width')})
      slider_list.eq(nextSlide).css('left', $(".slider-box").css('width'))
      slider_list.eq(nextSlide).animate({'left': '-=' + $('.slider-box').css('width')})

      curSlide++
      curSlide %= slider_list.length
    })
    */
  });
</script>
<script type="text/javascript">
function changeSlide(pageNo) {
  console.log("pageNo",pageNo)
  $('.slide-page-btn').css('background', '#ccc')

  var slider_list = $('.slider li')
  slider_list.css('left', $('.slider-box').css('width'))
  slider_list.eq(pageNo).css('left', 0)
  $(event.target).css('background', 'none')
}
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/favicon_package_v0.16/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/favicon_package_v0.16/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/favicon_package_v0.16/favicon-16x16.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f2b3b8">
<meta name="apple-mobile-web-app-title" content="Livelog">
<meta name="application-name" content="Livelog">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#f2b3b8">
<!-- end custom head snippets -->
